<li><%= link_to course.name, semester_course_path(semester,course) %> | <strong><%= course.enrollments.where(:user_id => current_user.id).first.grade ? gpa_to_grade(course.enrollments.where(:user_id => current_user.id).first.grade) : "No Grade" %></strong></li>

#fix enrollment loading