<% if @data[:gpas] && @data[:gpas][:overall] %>
  <h4>Overall GPA: <%= render 'gpa', :grade => Grade.new(@data[:gpas][:overall]) %></h4>
<% end %>

<h2>Your Current Courses:</h2>
<%= render 'courses', :course_memberships => @data[:course_memberships][:current], :show_semester_info => true, :gpas => @data[:gpas] %>

<hr/>

<h2>Your Future Courses</h2>
<%= render 'courses', :course_memberships => @data[:course_memberships][:future], :show_semester_info => true, :gpas => @data[:gpas] %>

<hr/>

<h2>Your Past Courses</h2>
<%= render 'courses', :course_memberships => @data[:course_memberships][:past], :show_semester_info => true, :gpas => @data[:gpas] %>
