<h1>Login</h1>
<%= render 'form' %>

<h3>For Your Convenience:</h3>
<%= render 'fill_in_button', :name => 'Admin', :email => 'lawson@gradebook.edu' %>
<%= render 'fill_in_button', :name => 'Teacher', :email => 'marie@gradebook.edu' %>
<%= render 'fill_in_button', :name => 'Student', :email => 'cadel@gradebook.edu' %>