<div class="hero-unit">
  <h1>Welcome to Gradebook</h1>
  <p>A sample Rails application made by <a href="http://lkurtz.com" title="Lawson Kurtz" target="_blank">Lawson Kurtz</a>.</p>
  <p><%= link_to "Get Started", login_path, :class => 'btn btn-primary btn-large' %></p>
</div>
