<fieldset>
  <h5>Adding New Student <small>(<%= link_to "Cancel", '#', class: "remove_fields" %>)</small></h5>
  <%= f.association :user, :label => 'Student' %>
  <%= grade_selector(f) %>
  <%= f.input :_destroy, :as => :hidden %>
</fieldset>
<hr/>