<tr>
  <td><%= f.association :user, :label => false, :collection => Student.not_in( @course ) %></td>
  <td><%= grade_selector(f, false) %></td>
  <td><%= f.input :_destroy, :as => :hidden %><%= link_to "Cancel", '#', class: "remove_fields" %></td>
</tr>